.aint {
    margin-top: 8em;
    padding: 15px;
    margin-left: 20px;
}

.aint h2 {
    text-align: center;
}

.gmeta {
    padding-left: 20px;
    background-color: #1ea954;
    color: white;
}

.gmeta h2 {
    text-align: center;
}