<section class="container-fluid aint">
    <div class="row">

        <div class="col-xs-12 col-md-12 col-lg-12">
            <h2>Áreas de intervención y grupos meta</h2>
            <p>“La Fundación centra sus actividades en los ámbitos de la gestión de los recursos naturales, la gestión de la calidad ambiental, el desarrollo de energías renovables y el fortalecimiento institucional de los actores clave involucrados, por
                lo que cubre temas como:</p>
            <ul>
                <li>Investigación, Desarrollo e Innovación (I+D+i)</li>
                <li>Asistencia Técnica</li>
                <li>Capacitación y Entrenamiento</li>
                <li>Fortalecimiento Institucional</li>
            </ul>

            <p>En iniciativas de desarrollo a diferente nivel, desde local hasta internacional, de manera independiente o en asociación con otras organizaciones y entidades.</p>

        </div>

    </div>
</section>

<section class="container-fluid gmeta">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <h2>Grupos Meta</h2>
            <p>Los principales grupos a los que la FNAD dirige sus acciones son:</p>
            <ul>
                <li>Organizaciones de base comunitaria</li>
                <li>Organizaciones No Gubernamentales</li>
                <li>Micro, Pequeñas y Medianas Empresas</li>
                <li>Instituciones Académicas y de Investigación</li>
                <li>Sector Público</li>
            </ul>

            <p>Favorecemos la <span style="font-weight: bold">gestión participativa</span> de los diferentes actores para asegurar el compromiso de los mismos en procesos equitativos y sostenibles.</p>
        </div>
    </div>
</section>