<section class="container-fluid">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light barra">
            <a class="navbar-brand" href="#"><img class="logo" src="assets/img/logo2sb.png" alt="logofnad"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="inicio" role="button">Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="areas" role="button">Areas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="recursos" role="button">Recursos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="contacto" role="button">Contacto</a>
                    </li>
                </ul>
            </div>

        </nav>

    </div>

</section>