<section class="container-fluid recursos">
    <div class="row">

        <div class="col-xs-12 col-md-12 col-lg-12">
            <h2>Recursos</h2>
            <p>En esta sección encontrará documentos producidos por los miembros y asociados de la FNAD. También encontrará copias de documentos que pudieran ser de interés por su contenido, escrito por otros. Finalmente, encontrarán enlaces a sitios que
                esperamos se relacionan de una forma u otra con lo que hacemos. Es un servicio sin costo de la Fundación, para todos los que nos visitan.</p>

            <p>Esta página incluirá documentos y enlaces en la medida que los encontremos, por lo que les invitamos a visitarla con regularidad.</p>

        </div>

    </div>
</section>

<section class="container-fluid tablacon">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">

            <mat-form-field>
                <mat-label>Buscar</mat-label>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="escriba aquí" #input>
              </mat-form-field>

            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                
                <ng-container matColumnDef="tema">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Tema </th>
                  <td mat-cell *matCellDef="let element"> {{element.tema}} </td>
                </ng-container>
              
                
                <ng-container matColumnDef="autor">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Autor </th>
                  <td mat-cell *matCellDef="let element"> {{element.autor}} </td>
                </ng-container>

                <ng-container matColumnDef="editora">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Editora </th>
                  <td mat-cell *matCellDef="let element"> {{element.editora}} </td>
                </ng-container>
              
                
                <ng-container matColumnDef="ano">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Año </th>
                  <td mat-cell *matCellDef="let element"> {{element.ano}} </td>
                </ng-container>
              
                
                <ng-container matColumnDef="titulo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Titulo </th>
                  <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
                </ng-container>

                <ng-container matColumnDef="volumen">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Vol: No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.volumen}} </td>
                  </ng-container>
                
                  
                  <ng-container matColumnDef="doi">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> DOI </th>
                    <td mat-cell *matCellDef="let element"> {{element.doi}} </td>
                  </ng-container>
                
                  
                  <ng-container matColumnDef="fnad">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> FNAD </th>
                    <td mat-cell *matCellDef="let element"> {{element.fnad}} </td>
                  </ng-container>
                
                  
                  <ng-container matColumnDef="enlace">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Descarga</th>
                    <td mat-cell *matCellDef="let element"><a [href]="element.enlace" target="_blank"> {{element.enlace | shortUrl}}</a> </td>
                  </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              
              
            <!-- <button class="btn btn-success" (click)="crearListaDocumentos()">Crear</button> -->
       
            <!-- <div class="container-fluid">
                
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Escribe lo que buscas" [(ngModel)]="term">
                </div>
                
                <div class="tablaestilos">
                    <table class="table">  
                        <tr>
                            <th scope="col">Tema</th>
                            <th scope="col">Autor</th>
                            <th scope="col">Año</th>
                            <th scope="col">Titulo</th>
                            <th scope="col">Nombre de Revista</th>
                            <th scope="col">Editora</th>
                            <th scope="col">Volumen</th>
                            <th scope="col">DOI</th>
                            <th scope="col">FNAD</th>
                            <th scope="col">Enlace</th>
                        </tr>
                        <tr *ngFor="let list of lista | filter:term">
                            <td>{{ list.tema}}</td>
                            <td>{{ list.autor}}</td>
                            <td>{{ list.ano}}</td>
                            <td>{{ list.titulo}}</td>
                            <td>{{ list.nomRevista}}</td>
                            <td>{{ list.editora}}</td>
                            <td>{{ list.volumen}}</td>
                            <td>{{ list.doi}}</td>
                            <td>{{ list.fnad}}</td>
                            <td>{{ list.enlace}}</td>
                        </tr>
                    </table>   
                    
                      
                     
                </div>
            </div> -->

            <div class="propiedad">
                <h2><strong>Propiedad Intelectual</strong></h2>
                <p><br> Si se entiende que algún documento tiene conflictos de derecho de autor o propiedad intelectual, agradeceremos nos lo hagan saber de inmediato a <a href="mailto:info@fnad.org">info@fnad.org</a> para corregirlo. Gracias.&nbsp; </p>
            </div>
        </div>
    </div>
</section>