<section class="container-fluid recursos">
    <div class="row">

        <div class="col-xs-12 col-md-12 col-lg-12">
            <h2>Recursos</h2>
            <p>En esta sección encontrará documentos producidos por los miembros y asociados de la FNAD. También encontrará copias de documentos que pudieran ser de interés por su contenido, escrito por otros. Finalmente, encontrarán enlaces a sitios que
                esperamos se relacionan de una forma u otra con lo que hacemos. Es un servicio sin costo de la Fundación, para todos los que nos visitan.</p>

            <p>Esta página incluirá documentos y enlaces en la medida que los encontremos, por lo que les invitamos a visitarla con regularidad.</p>

        </div>

    </div>
</section>

<section class="container-fluid tablacon">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">

            <div class="nameFil">
                <mat-form-field *ngFor="let filter of filterSelectObj" style="margin-left: 15px;">
                    <label>Filtrar por {{filter.name}}</label>
                    <!-- <mat-label>Filter {{filter.name}}</mat-label> -->
                    <select matNativeControl name="{{filter.columnProp}}" [(ngModel)]="filter.modelValue" (change)="filterChange(filter,$event)">
                    <option value="">-- Select {{filter.name}} --</option>
                    <option [value]="item" *ngFor="let item of filter.options">{{item}}</option>
                  </select>
                </mat-form-field>
                &nbsp;
                <button mat-flat-button (click)="resetFilters()">Limpiar</button>
            </div>

            <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="autor">
                    <th mat-header-cell *matHeaderCellDef> Autor(es) </th>
                    <td mat-cell *matCellDef="let element"> {{element.autor}} </td>
                </ng-container>

                <ng-container matColumnDef="ano">
                    <th mat-header-cell *matHeaderCellDef> Año </th>
                    <td mat-cell *matCellDef="let element"> {{element.ano}} </td>
                </ng-container>

                <ng-container matColumnDef="titulo">
                    <th mat-header-cell *matHeaderCellDef> Titúlo </th>
                    <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
                </ng-container>

                <ng-container matColumnDef="nomRevista">
                    <th mat-header-cell *matHeaderCellDef> Nom.Revista </th>
                    <td mat-cell *matCellDef="let element"> {{element.nomRevista}} </td>
                </ng-container>

                <ng-container matColumnDef="editora">
                    <th mat-header-cell *matHeaderCellDef> Editora </th>
                    <td mat-cell *matCellDef="let element"> {{element.editora}} </td>
                </ng-container>

                <ng-container matColumnDef="volumen">
                    <th mat-header-cell *matHeaderCellDef> Volumen </th>
                    <td mat-cell *matCellDef="let element"> {{element.volumen}} </td>
                </ng-container>

                <ng-container matColumnDef="doi">
                    <th mat-header-cell *matHeaderCellDef> DOI </th>
                    <td mat-cell *matCellDef="let element"> {{element.doi}} </td>
                </ng-container>

                <ng-container matColumnDef="link">
                    <th mat-header-cell *matHeaderCellDef> Link </th>
                    <td mat-cell *matCellDef="let element"> {{element.link}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>


            <div class="propiedad">
                <h2><strong>Propiedad Intelectual</strong></h2>
                <p><br> Si entienden que algún documento tiene problemas de derecho de autor o propiedad intelectual, agradeceremos nos lo hagan saber de inmediato a <a href="mailto:info@fnad.org">info@fnad.org</a> para corregirlo. Gracias.&nbsp; </p>
            </div>

        </div>
    </div>
</section>