.recursos {
    margin-top: 8em;
}

.recursos h2 {
    text-align: center;
    padding: 10px;
}

.tablacon table {
    width: 100%;
}

.nameFil {
    width: 100%;
    border: 1px solid black;
}

.nameFil button {
    margin-top: 1em;
    color: white;
    background-color: red;
}

.propiedad {
    margin-top: 5em;
    text-align: center;
}

.propiedad h2 {
    text-align: center;
}

table td {
    padding: 5px;
}

table th {
    padding: 5px;
}

th.mat-sort-header-sorted {
    color: black;
  }