<div class="container-fluid con">
    
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="titulocontacto">Contacto</h2>

            <!-- <article>
                <p>Puede contactarse con nosotros enviandonos un correo electronico.</p>

                <a  class="con" href="mailto:info@fnad.org?subject=contacto&body=Asunto%0DDescripcion">Contactanos</a>

            </article>
             -->



            <!--Section: Contact v.2-->
                <section class="mb-4">

                    <div class="row">

                        <!--Grid column-->
                        <div class="col-xs-12 col-md-12 col-lg-12">
                            <form id="contact-form"  name="contact-form" (submit)="sendEmail($event)">

                                <!--Grid row-->
                                <div class="row">

                                    <!--Grid column-->
                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            <label for="name" class="">Nombre</label>
                                            <input type="text" id="name" name="from_name"  class="form-control">
                                            
                                            
                                        </div>
                                    </div>
                                    <!--Grid column-->

                                    <!--Grid column-->
                                    <div class="col-md-6">
                                        <div class="md-form mb-0">
                                            <label for="email" class="">Correo electronico</label>
                                            <input class="form-control"  type="email" name="reply_to"  />
                                            
                                            
                                        </div>
                                    </div>
                                    <!--Grid column-->

                                </div>
                                <!--Grid row-->

                                <!--Grid row-->
                                
                                <!--Grid row-->

                                <!--Grid row-->
                                <div class="row">

                                    <!--Grid column-->
                                    <div class="col-md-12">

                                        <div class="md-form">
                                            <br>
                                            <label for="message">Mensaje</label>
                                            <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                                            <br>
                                            
                                        </div>

                                    </div>
                                </div>
                                <!--Grid row-->
                                <div class="boton">
                                    <input class="btn btn-primary" type="submit" value="Enviar">
                                </div>

                            </form>

                           
                        </div>
                

                    </div>

                </section>
                <!--Section: Contact v.2-->

        </div>
    </div>
</div>